.form_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.form_main--box {
    width: 500px;
    margin: 50px;
}

.form_main--text {
    font-weight: 700;
}

.form__map--iframe {
    height: 500px;
    width: 1100px;
    margin: 0px 0px 100px 0px;
}

.form__botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (min-width: 320px) and (max-width: 479px) {
    .form__botones {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }
}