a {
    font-family: map-get($fuentes , fuente-titulo);
    font-size: 22px;
    color: map-get($colores , color-blanco);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    color: map-get($colores , color-primario);
    font-family: map-get($fuentes , fuente-titulo);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    line-height: 58px;
}

h2 {
    color: map-get($colores, color-secundario);
    font-family: map-get($fuentes, fuente-titulo);
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    line-height: 36px;
    margin: 20px 0px 20px 0px;
}

h3 {
    color: map-get($colores , color-secundario);
    font-family: map-get($fuentes , fuente-titulo);
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    line-height: 30px;
    margin: 20px 0px 20px 0px;
}

h4 {
    color: map-get($colores, color-terciario);
    font-family: map-get($fuentes, fuente-texto);
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin: 20px 0px 20px 0px;
}

p {
    color: map-get($colores, color-secundario);
    font-family: map-get($fuentes, fuente-texto);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 22px;
    margin: 20px 0px 20px 0px;
}

ul {
    list-style: none;
    li {
        display: inline-block;
        margin: 20px 20px 0px 0px;
    }
}
.menu-box {
    display: flex;
    flex-direction: row;
}
a:hover {
    background-color: map-get($colores , color-secundario);
    color: map-get($colores , color-blanco);
    cursor: crosshair;
    transform: scale 1s;
}
a:link {
    color: map-get($colores , color-blanco);
}

input:focus {
    outline: solid 2px map-get($colores , color-primario);
}

.text-decoration-tachado {
    text-decoration: line-through;
}