.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-primario;
    height: 110px;
    width: 100%;
    padding: 05px 50px 0 50px;
    grid-area: header;
}

.header--library {
    background-color: $color-primario;

    .boton--library {
        background-color: $color-primario;
    }
}


.header--tienda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-primario;
    height: 100px;
    padding: 0 50px 10px 50px;
    grid-area: header;
}

.logo {
    width: 220px;
}

@media (min-width: 320px) and (max-width: 479px) {
    .logo {
        width: 180px;
}
}

@media (min-width: 480px) and (max-width: 576px) {
    .logo {
        width: 200px;
}
}

@media (min-width: 577px) and (max-width: 768px) {
    .logo {
        width: 220px;
}
}