/* Estilos Home */
.home__secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;

    .home__secciones--botones {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 360px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 40px;

        transition: all 1s;

        &:hover {
            scale: 110%;
        }
    }

    .home__secciones--flecha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px 20px 50px 20px;
        justify-content: center;
        align-items: center;
        align-items: center;
    }

    .home__secciones--foto {
        border-radius: 15px;
    }
}

.home__bullets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .home__bullets--cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .home__bullets--texto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 350px;
        margin: 50px 20px;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: $color-primario;
    }

    p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

.animacion {
    animation-name: animacion-flecha;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;

    @keyframes animacion-flecha {
        0% {
            translate: 0 0;
        }

        50% {
            translate: 0 -10px;
        }

        100% {
            translate: 0 0;
        }
    }
}

.home__novedades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0px 0px 50px 0px;

    .home__novedades--cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 397px;
        border-radius: 5px;
        display: inline;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 15px #bebebe;

        a {
            font-size: 16px;
        }
    }
}

.home__clientes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: auto;
    background-color: #e0e0e0;
    margin: 0px 0px 50px 0px;

    .home__clientes--titulo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        line-height: 46px;
        height: 100px;
        width: 100%;
        font-size: 40px;
        margin: 50px 0px 0px 0px;
        text-align: center;
    }

    .home__clientes--logos {
        display: flex;
        height: 100%;
        width: 200px;
        margin: 0px 50px 10px 50px;
        transition: scale 1s;

        &:hover {
            scale: 110%;
        }
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .home__secciones--titulo {
        font-size: 42px;
        line-height: 44px;
    }

    .home__secciones--botones {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: all 1s;
        margin: 0;

        &:hover {
            scale: 110%;
        }
    }

    .home__novedades--cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 273px;
        border-radius: 5px;
        display: inline;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 15px #bebebe;
    }
}

@media (min-width: 480px) and (max-width: 576px) {
    .home__secciones--titulo {
        font-size: 48px;
        line-height: 52px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .home__secciones--titulo {
        font-size: 56px;
        line-height: 62px;
    }
}