$colores: (
    color-primario: $color-primario,
    color-secundario: $color-secundario,
    color-terciario: $color-terciario,
    color-negro: $color-negro,
    color-blanco: $color-blanco,
);

$fuentes: (
    fuente-titulo: Oswald,
    fuente-texto: Montserrat,
);