.boton, .boton--secundario, .boton--reset, .boton--ver-mas {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  height: 40px;
  width: 150px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  transition: all 1s;
  border: 1px solid #ff0000;
}
.boton:hover, .boton--secundario:hover, .boton--reset:hover, .boton--ver-mas:hover {
  border: 1px solid #ff0000;
  transform: scale(110%);
}

.boton--ver-mas {
  background-color: #323e48;
  color: #ffffff;
  border: 1px solid #323e48;
}
.boton--ver-mas:hover {
  border: 1px solid #323e48;
  background-color: #ffffff;
  color: #323e48;
  transform: scale(110%);
}

.boton--reset {
  background-color: #a2a9ad;
  color: #ffffff;
  border: 1px solid #a2a9ad;
  margin: 0 0 0 20px;
}
.boton--reset:hover {
  border: 1px solid #a2a9ad;
  transform: scale(110%);
}

.boton--secundario {
  background-color: #323e48;
  color: #ffffff;
  border: 1px solid #323e48;
  margin: 0 0 0 20px;
}
.boton--secundario:hover {
  border: 1px solid #a2a9ad;
  transform: scale(110%);
}

.home__novedades--titulo {
  font-family: Oswald;
  font-weight: 700;
  color: #ff0000;
  background-color: #ffffff;
  font-size: 52px;
  text-align: center;
  line-height: 58px;
  margin: 50px 50px 50px 50px;
}

.home__secciones--titulo {
  font-family: Oswald;
  font-weight: 700;
  color: #ff0000;
  background-color: #ffffff;
  font-size: 62px;
  text-align: center;
  line-height: 66px;
  margin: 70px 50px 50px 50px;
}

.footer__parrafo {
  font-family: Oswald;
  font-weight: 400;
  color: #ffffff;
  background-color: #323e48;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  margin: 50px 0 50px 0;
}

.nosotros_secciones--titulo {
  font-family: Oswald;
  font-weight: 700;
  color: #ff0000;
  background-color: #ffffff;
  font-size: 44px;
  text-align: left;
  line-height: 46px;
  margin: 20px 0 20px 0;
}

.nosotros_staff--nombre {
  font-family: Oswald;
  font-weight: 700;
  color: #ff0000;
  background-color: #ffffff;
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  margin: 20px 0 0 0;
}

.nosotros_staff--cargo {
  font-family: Oswald;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  margin: 5px 0 20px 0;
}

.nosotros_staff--descripcion {
  font-family: Montserrat;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 0 20px 0;
}

* {
  padding: 0;
  margin: 0;
}

/*@media (min-width: 480px) and (max-width: 576px) {
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 10px 0px;
    }

    a {
        font-size: 11px;
    }

    .section-card-box {
        background-color: #ffffff;
        height: auto;
        width: 360px;
        border-radius: 5px;
        display: inline-block;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 15px #bebebe;

    }

    .footer {
        margin: 20px 0px 20px 0px;
        flex-direction: column;
        align-items: center;
        grid-area: footer;
    }


}

@media (max-width: 479px) {
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 10px 0px;
    }

    a {
        font-size: 11px;
    }

    .section-card-box {
        background-color: #ffffff;
        height: auto;
        width: 360px;
        border-radius: 5px;
        display: inline-block;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 15px #bebebe;

    }

    .footer {
        margin: 20px 0px 20px 0px;
        flex-direction: column;
        align-items: center;
        grid-area: footer;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 120px auto auto auto auto auto 150px;
        grid-template-areas:
            "header header"
            "main main"
            "nav nav"
            "section-1 section-1"
            "aside aside"
            "section-2 section-2"
            "footer footer"
        ;
        grid-gap: 10px;
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav {
        background-color: #777777;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        grid-area: nav;
        padding: 20px;
        margin: 0px;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 10px 0px;
    }

    a {
        font-size: 15px;
    }

    .section-card-box {
        background-color: #ffffff;
        height: auto;
        width: 417px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        box-shadow: 0px 0px 15px #bebebe;

    }

    .footer {
        margin: 20px 0px 20px 0px;
        flex-direction: column;
        align-items: center;
        grid-area: footer;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 120px auto auto auto auto auto 150px;
        grid-template-areas:
            "header header"
            "main main"
            "nav nav"
            "section-1 section-1"
            "aside aside"
            "section-2 section-2"
            "footer footer"
        ;
        grid-gap: 10px;
    }

    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav {
        background-color: #777777;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        grid-area: nav;
        padding: 20px;
        margin: 0px;
        color: #323e48;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}*/
a {
  font-family: Oswald;
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  color: #ff0000;
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 44px;
}

h2 {
  color: #323e48;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 36px;
  margin: 20px 0px 20px 0px;
}

h3 {
  color: #323e48;
  font-family: Oswald;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  margin: 20px 0px 20px 0px;
}

h4 {
  color: #a2a9ad;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  margin: 20px 0px 20px 0px;
}

h5 {
  color: #a2a9ad;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0px 20px 0px;
}

p {
  color: #323e48;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
  margin: 20px 0px 20px 0px;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin: 20px 20px 0px 0px;
}

.menu-box {
  display: flex;
  flex-direction: row;
}

a:hover {
  color: #ffffff;
  cursor: crosshair;
  transform: scale 1s;
}

a:link {
  color: #ffffff;
}

input:focus {
  outline: solid 2px #ff0000;
}

.text-decoration-tachado {
  text-decoration: line-through;
}

.navbar-customize {
  background-color: #ff0000;
}

.slider-customize {
  margin-top: 50px;
}

/* Estilos Home */
.home__secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
.home__secciones .home__secciones--botones {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 360px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: all 1s;
}
.home__secciones .home__secciones--botones:hover {
  scale: 110%;
}
.home__secciones .home__secciones--flecha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 20px 50px 20px;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.home__secciones .home__secciones--foto {
  border-radius: 15px;
}

.home__bullets {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home__bullets .home__bullets--cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home__bullets .home__bullets--texto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 50px 20px;
}
.home__bullets h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ff0000;
}
.home__bullets p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.animacion {
  animation-name: animacion-flecha;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 0s;
}
@keyframes animacion-flecha {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -10px;
  }
  100% {
    translate: 0 0;
  }
}

.home__novedades {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0px 0px 50px 0px;
}
.home__novedades .home__novedades--cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 397px;
  border-radius: 5px;
  display: inline;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px #bebebe;
}
.home__novedades .home__novedades--cards a {
  font-size: 16px;
}

.home__clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: auto;
  background-color: #e0e0e0;
  margin: 0px 0px 50px 0px;
}
.home__clientes .home__clientes--titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 46px;
  height: 100px;
  width: 100%;
  font-size: 40px;
  margin: 50px 0px 0px 0px;
  text-align: center;
}
.home__clientes .home__clientes--logos {
  display: flex;
  height: 100%;
  width: 200px;
  margin: 0px 50px 10px 50px;
  transition: scale 1s;
}
.home__clientes .home__clientes--logos:hover {
  scale: 110%;
}

@media (min-width: 320px) and (max-width: 479px) {
  .home__secciones--titulo {
    font-size: 42px;
    line-height: 44px;
  }
  .home__secciones--botones {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    margin: 0;
  }
  .home__secciones--botones:hover {
    scale: 110%;
  }
  .home__novedades--cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 273px;
    border-radius: 5px;
    display: inline;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px #bebebe;
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  .home__secciones--titulo {
    font-size: 48px;
    line-height: 52px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .home__secciones--titulo {
    font-size: 56px;
    line-height: 62px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ff0000;
  height: 110px;
  width: 100%;
  padding: 5px 50px 0 50px;
  grid-area: header;
}

.header--library {
  background-color: #ff0000;
}
.header--library .boton--library {
  background-color: #ff0000;
}

.header--tienda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ff0000;
  height: 100px;
  padding: 0 50px 10px 50px;
  grid-area: header;
}

.logo {
  width: 220px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .logo {
    width: 180px;
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  .logo {
    width: 200px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .logo {
    width: 220px;
  }
}
.footer__tienda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #323e48;
  width: auto;
  height: 150px;
  padding: 0 0 0 50px;
  grid-area: footer__tienda;
}

.footer__0 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #323e48;
  width: auto;
  height: 150px;
  padding: 0 20px 0 20px;
}

.footer__1 {
  width: auto;
}

.footer__2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}

.footer__logo {
  width: auto;
  justify-content: center;
  align-items: center;
}

.footer__caja2 {
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 40px;
}
.footer__caja2 p {
  color: #ffffff;
  margin: 0;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.footer__box {
  width: 60px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer__tienda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323e48;
    height: 150px;
    padding: 0 0 0 0;
    grid-area: footer__tienda;
  }
  .footer__0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
  }
  .footer__1 {
    width: auto;
  }
  .footer__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 30px;
  }
  .footer__box {
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  .footer__tienda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323e48;
    height: 150px;
    padding: 0 0 0 0;
    grid-area: footer__tienda;
  }
  .footer__0 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #323e48;
  }
  .footer__1 {
    width: auto;
  }
  .footer__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 30px;
  }
  .footer__box {
    width: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.nosotros__secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros__secciones .nosotros__secciones--titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 50px;
}
.nosotros__secciones .nosotros__secciones--card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 50px 0;
}
.nosotros__secciones .nosotros__secciones--box {
  height: 100%;
  width: 250px;
  margin: 25px;
}

.novedades__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 50px 0 50px 0;
}
.novedades__main .novedades__columna1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1fr;
}
.novedades__main .novedades__columna1 h2 {
  font-size: 32px;
  color: #323e48;
}
.novedades__main .novedades__columna1 h3 {
  font-size: 24px;
  font-weight: 400;
  color: #a2a9ad;
}
.novedades__main .novedades__columna2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 0.3fr;
}
.novedades__main .novedades__secciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: auto;
}
.novedades__main .novedades__secciones h1 {
  font-size: 48px;
  color: #ff0000;
}
.novedades__main .novedades-box {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border-bottom: 3px dotted #323e48;
}
.novedades__main .novedades-box--foto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 50px 0px 0px;
  padding: 20px;
}
.novedades__main .novedades-box--titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin: 20px 0px 0px 0px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .novedades-box {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0;
    padding: 0;
    border-bottom: 3px dotted #323e48;
  }
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.3fr auto 0.5fr;
  grid-template-rows: 50px auto 1fr 1fr 1fr 100px;
  grid-template-areas: "header header header" "main main main" "slider slider slider" "nav-1 section-1 aside" "nav-1 section-2 aside" "footer__tienda footer__tienda footer__tienda";
  grid-gap: 10px;
}

.slider {
  background-color: #323e48;
  grid-area: slider;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  grid-area: main;
}

.nav-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-color: #ffffff;
  margin: 20px 0px 0px 0px;
  grid-area: nav-1;
}
.nav-1 .partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-1 h2 {
  color: #323e48;
  font-size: 26px;
  text-align: center;
  line-height: 30px;
}

.section-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: section-1;
}

.section-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: section-2;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: aside;
  margin: 20px 0px 20px 0px;
}

.banner {
  display: flex;
  margin: 0px 0px 20px 0px;
}

.productos-box {
  height: auto;
  width: 320px;
  margin: 20px 20px 20px 20px;
  padding: 25px;
  border-radius: 5px;
  overflow: visible;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 15px #bfc2c4;
}
.productos-box .precio__rebajado {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 24px;
}
.productos-box .partners__logo--width {
  width: 150px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header" "main main" "nav-1 nav-1" "section-1 section-1" "aside aside" "section-2 section-2" "footer__tienda footer__tienda";
    grid-gap: 10px;
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-1 {
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 360px;
    flex-wrap: wrap;
    width: auto;
    grid-area: nav-1;
    margin: 0 50px 0 50px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partners {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .header--tienda {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ff0000;
    height: 150px;
    width: auto;
    grid-area: header;
  }
  .main {
    margin-top: 30px;
  }
  .partners__logo--width {
    width: 120px;
  }
}
a {
  font-size: 14px;
}

@media (min-width: 480px) and (max-width: 576px) {
  a {
    font-size: 16px;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 10px 0px;
  }
  .section-card-box {
    background-color: #ffffff;
    height: auto;
    width: 360px;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px #bebebe;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header" "main main" "nav-1 nav-1" "section-1 section-1" "aside aside" "section-2 section-2" "footer__tienda footer__tienda";
    grid-gap: 10px;
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-1 {
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-area: nav-1;
    padding: 20px;
    margin: 0px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__tienda {
    margin: 20px 0px 20px 0px;
    flex-direction: column;
    align-items: center;
    grid-area: footer__tienda;
  }
  .main {
    margin-top: 50px;
  }
  .partners__logo--width {
    width: 130px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header" "main main" "nav-1 nav-1" "section-1 section-1" "aside aside" "section-2 section-2" "footer__tienda footer__tienda";
    grid-gap: 10px;
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    width: auto;
    height: auto;
    color: #323e48;
    grid-area: nav-1;
  }
  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    margin-top: 50px;
  }
}
.form_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  font-family: "Montserrat", sans-serif;
}

.form_main--box {
  width: 500px;
  margin: 50px;
}

.form_main--text {
  font-weight: 700;
}

.form__map--iframe {
  height: 500px;
  width: 1100px;
  margin: 0px 0px 100px 0px;
}

.form__botones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 320px) and (max-width: 479px) {
  .form__botones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
